body{
	font-family: corbel, 'lucida grande', helvetica, sans-serif;
	font-size: 24px;
	color: #212122;
  width: 600px;
  margin: 100px auto;  
}
#feedback {
  position: fixed;
}
#should {
  padding-left: 80px;
}
.comment {
  text-align: justify;
	font-size: 16px;
}
